<template>
  <div class="chip-badge-list-container container">
    <v-badge
      v-for="selProd in buyList"
      :key="selProd.name"
      color="purple"
      left
      overlap
    >
      <span slot="badge">{{selProd.count}}</span>

      <v-chip>
        {{selProd.name}}
      </v-chip>
    </v-badge>
  </div>
</template>

<script>
	export default {
		name: "QChipBadgeList",
    props: {
		  buyList: {
		    type: Array,
        default: []
      }
    }
	}
</script>

<style scoped>
  .chip-badge-list-container{
    width: 50%;
  }
</style>
