<template>
	<div class="slide-panel-container container left"
    @mouseover="showDescriptions=true"
    @mouseleave="showDescriptions=false">
    <div class="buy-list-container">
      <div class="buy-list-item" v-for="buyItem in buyList" :key="buyItem.name">
        <v-icon>home</v-icon>
        <span
          :class="{'description-open': showDescriptions}"
          class="description-item">
          {{buyItem.name}}
        </span>
      </div>
      <!--<v-icon>event</v-icon>-->
      <!--<v-icon>info</v-icon>-->
    </div>
  </div>
</template>

<script>
	export default {
		name: "QSlidePanel",
    props: {
      buyList: {
        type: Array,
        default: []
      }
    },
    data() {
		  return {
        showDescriptions: false
      }
    }
	}
</script>

<style scoped lang="scss">
  .slide-panel-container {

    width: 30%;
    float: left;


    .description-open {
      visibility: visible !important;
    }

    .description-item {
      visibility: hidden;
    }

    .icons-container {
      i {
        display: block;
      }
    }
  }
</style>
