<template>

  <svg
    :width="totalWidth"
    :height="totalHeight"
    class="sun-container">
    <g :transform="centerSVG">
      <path v-for="arc in arcs" :key="arc.id"
            :d="arcFunction(arc)"
            :fill="color(arc)"
            :class="{'too-deep': shouldShow(arc)}"
            @click="zoomIn(arc)"
      />
      <text v-for="arcLabel in arcs" :key="arcLabel.id"

        :transform="'translate(' + arcFunction.centroid(arcLabel) +') rotate(' + calcLabelRotation(arcLabel) + ')'"
        :dx="-20"
        :dy="'.5em'">
        {{arcLabel.data.name}}

      </text>
    </g>
  </svg>
</template>

<script>
  import * as d3 from 'd3'

	export default {
		name: "QSun",
    props: {
		  "totalWidth" : {
		    type: Number,
        default: 600
      },
      "totalHeight": {
        type: Number,
        default: 600
      },
      "products": {
		    type: Object,
        default: {}
      }
    },
    data(){
		  return {
		    // arcs: [],
        // labels: []
        root: {},
        arcFunction: d3.arc()
          .startAngle(function (d) { return d.x0 })
          .endAngle(function (d) { return d.x1 })
          .innerRadius(function (d) { return d.y0 })
          .outerRadius(function (d) { return d.y1 }),
        partitionFunc : d3.partition()
          .size([2 * Math.PI, Math.min(this.totalWidth, this.totalHeight) / 2]),
        color : d3.scaleOrdinal(d3.schemeCategory10),
      }
    },
    watch: {
		  products: function(val)  {
        this.populate();
      }
    },
    methods: {
		  populate(newRootArc){
        let tmpRoot = d3.hierarchy(newRootArc || this.products)
          .sum(function (d) { return d.size});
        this.partitionFunc(tmpRoot);
        this.root = tmpRoot;

      },
      calcLabelRotation(d){
        var angle = (d.x0 + d.x1) / Math.PI * 90;  // <-- 1

        // Avoid upside-down labels
        return (angle < 90 || angle > 270) ? angle : angle + 180;  // <--2 "labels aligned with slices"

        // Alternate label formatting
        //return (angle < 180) ? angle - 90 : angle + 90;  // <-- 3 "labels as spokes"
      },
      shouldShow(arc){
        return arc.depth > 2
      },
      zoomIn(arc){
		    if(arc.children) {
          arc.depth ? this.populate(arc.data) : this.populate()
        } else {
		      this.$emit('productSelected', arc)
          this.populate()
        }
      }
    },
    computed: {
      centerSVG(){
        return 'translate(' + this.totalWidth / 2 + ',' + this.totalHeight / 2 + ')'
      },
      arcs(){
        return this.root.descendants ? this.root.descendants() : [];
      }
    }
	}
</script>

<style scoped>
  .too-deep{
    fill-opacity: 0.2;
  }
</style>
