<template>

  <div class="sunburst-container">

    <svg :width="totalWidth" :height="totalHeight">
      <g>

      </g>

    </svg>

    <!--<button @click="populateNodes">refresh</button>-->


  </div>
</template>

<script>
  import {json} from 'd3-fetch';
  import {hierarchy,partition} from 'd3-hierarchy'
  import {scaleOrdinal} from 'd3-scale'
  import {schemeCategory10} from 'd3-scale-chromatic'
  import {arc} from 'd3-shape'

	export default {
		name: "SunburstD3",
    props: ["totalWidth", "totalHeight","dataJsonName"],
    data() {
		  return {
		    products: []
      }
    },
    mounted() {
      json(this.dataJsonName).then((data) => {
        debugger
        this.products = data;
        this.populate()
      })
    },
    methods: {
		  populate(){
        let radius = Math.min(this.totalWidth, this.totalHeight) / 2;  // < -- 2
        var color = scaleOrdinal(schemeCategory10);   // <-- 3
        let prt = partition()  // <-- 1
          .size([2 * Math.PI, radius]);  // <-- 2
        var root = hierarchy(this.products)  // <-- 1
          .sum(function (d) { return d.size});  // <-- 2
        prt(root);  // <-- 1
        var arc1 = arc()  // <-- 2
          .startAngle(function (d) { return d.x0 })
          .endAngle(function (d) { return d.x1 })
          .innerRadius(function (d) { return d.y0 })
          .outerRadius(function (d) { return d.y1 });
      }
    }
	}
</script>

<style scoped>

</style>
