<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <v-card>
        <v-card-title class="headline">פודל FooDel</v-card-title>
        <v-card-text>
          <p>תזמינו ממכולת כאן</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            flat
            nuxt
            to="/select"
          >vue-d3-sunburst</v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            flat
            nuxt
            to="/sunburst"
          >d3 sunburst nf 1.0</v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            flat
            nuxt
            to="/qsun"
          >QSunburst</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>

export default {
  components: {
  }
}
</script>
