<template>

  <div>
    <QChipBadgeList
      :buy-list="buyList"/>

    <QSlidePanel
      :buy-list="buyList"/>
    <QSun
      :products="products"
      width="100%"
      height="800px"
      @productSelected="productSelected"/>


  </div>
</template>

<script>
  import QSun from '../components/QSun.vue'
  import QChipBadgeList from '../components/QChipBadgeList.vue'
  import QSlidePanel from '../components/QSlidePanel.vue'
  import * as d3 from 'd3'

  export default {
		name: "qsunPage",
    components: {QSun,QChipBadgeList,QSlidePanel},
    mounted(){
      d3.json("products.json").then(data => {
        this.products = data;
      })
    },
    data(){
		  return {
		    products: {},
        buyList: [],
      }
    },
    methods: {
      productSelected(productNode){
        let product = Object.assign({},productNode.data)
        let existProducts = this.buyList.filter( existingProduct => {
          return existingProduct.name === product.name
        })
        if(existProducts.length){
          existProducts[0].count++
        } else {
          product.count = 1
          this.buyList.push(product)
        }

      }
    }
	}
</script>

<style scoped>

</style>
