<template>
	<v-layout>
		<v-flex text-xs-center>

			SELECT ENGINE

			 <sunburst :data="products"
       @clickNode="productClicked">

				<!-- Add behaviors -->
				<template slot-scope="{ nodes, actions }">
          <highlightOnHover :nodes="nodes" :actions="actions" />
          <zoomOnClick :nodes="nodes" :actions="actions" />
				</template>

				<!-- Add information to be displayed on top the graph -->
				<nodeInfoDisplayer slot="top" slot-scope="{ nodes }"
                           :current="nodes.mouseOver" :root="nodes.root"
                           description="of visits begin with this sequence of pages" />

				<!-- Add bottom legend -->
				<breadcrumbTrail slot="legend" slot-scope="{ nodes, colorGetter, width }"
                         :current="nodes.mouseOver" :root="nodes.root"
                         :colorGetter="colorGetter" :from="nodes.clicked" :width="width" />

			</sunburst>


		</v-flex>
	</v-layout>
</template>

<script>
	import {
		breadcrumbTrail,
		highlightOnHover,
		nodeInfoDisplayer,
		sunburst,
		zoomOnClick
	} from 'vue-d3-sunburst';
	import "vue-d3-sunburst/dist/vue-d3-sunburst.css";

	export default {
		name: "selectPage",
    components: {
      breadcrumbTrail,
      highlightOnHover,
      nodeInfoDisplayer,
      sunburst,
      zoomOnClick},
    data() {
      return {
        products:
          {
            "name" : "Makolet",
            "children": [
              {
                "name" : "אוכל",
                "children": [
                  {
                    "name" : "חלב",
                    "children": [
                      {
                        "name" : "תנובה",
                        "children": [
                          {
                            "name" : "1L",
                            "children": [
                              {
                                "name" : "1%",
                                "size" : 3
                              },{
                                "name" : "3%",
                                "size" : 2
                              },
                            ],
                          },{
                            "name" : "2L",
                            "children": [
                              {
                                "name" : "3%",
                                "size" : 1
                              },
                            ],
                          },
                        ],
                      },{
                        "name" : "טרה",
                        "children": [
                          {
                            "name" : "1L",
                            "children": [
                              {
                                "name" : "1%",
                                "size" : 3
                              },{
                                "name" : "3%",
                                "size" : 2
                              },
                            ],
                          },{
                            "name" : "2L",
                            "children": [
                              {
                                "name" : "3%",
                                "size" : 1
                              },
                            ],
                          },
                        ],
                      },
                    ],
                  },
                  {
                    "name" : "לחם",
                    "children": [
                      {
                        "name" : "אנגל",
                        "children": [
                          {
                            "name" : "לחם אחיד",
                            "size" : 3
                          },{
                            "name" : "לחם פרוס",
                            "size" : 3
                          },
                        ],
                      },
                      {
                        "name" : "ברמן",
                        "children": [
                          {
                            "name" : "לחם אחיד",
                            "size" : 3
                          },{
                            "name" : "לחם פרוס",
                            "size" : 3
                          },
                        ],
                      }
                    ],
                  },
                  {
                    "name" : "ביצים",
                    "children": [
                      {
                        "name" : "XL 12",
                        "size" : 3
                      },{
                        "name" : "L 12",
                        "size" : 3
                      },
                    ],
                  },
                ],
              },
              {
                "name" : "טואלטיקה",
                "children": [
                  {
                    "name" : "משחת שיניים",
                    "children": [
                      {}
                    ],
                  },
                  {
                    "name" : "אבקת כביסה",
                    "children": [
                      {}
                    ],
                  },
                ],
              },
              {
                "name" : "אחר",
                "children": [
                  {
                    "name" : "סיגריות",
                    "children": [
                      {}
                    ],
                  },
                  {
                    "name" : "וודקה",
                    "children": [
                      {}
                    ],
                  },
                ],
              },
            ]
          }

      }
    },
    methods: {
      productClicked(data){
        console.log("Product clicked")
        console.dir(data.node)
      }
    }
	}
</script>
