<template>
  <no-ssr>
      <d3-sunburst
        :data="products"
        width="100%"
        height="400px"></d3-sunburst>
  </no-ssr>
</template>

<script>
  // import SunburstD3 from '../components/SunburstD3.vue'
  // import {d3Sunburst} from 'd3-vs'
  import {json} from 'd3-fetch'

	export default {
		name: "sunburstPage",
    components: {  },
    data() {
      return {
        products: {}
      }
    },
    mounted() {
      json("productsValue.json").then((data) => {
        this.products = data;
      })
    }
	}
</script>
